name = "xbenchmarks"
type = "javascript"
account_id = ""
workers_dev = true
route = ""
zone_id = ""

[env.production]
name = "xbenchmarks-production"
routes = [
  { pattern = "xbenchmarks.pages.dev", zone_name = "xbenchmarks.pages.dev" }
]
